/* $Id: cufon-admin.css,v 1.2 2009/07/20 18:27:15 eads Exp $ */
.cufon-settings-row {
  margin-bottom: .75em;
  border-bottom: 1px solid #ccc;
}
.cufon-settings-row .cufon-selector {
  width: 40%;
  float: left;
}
.cufon-settings-row .cufon-options {
  width: 35%;
  float: left;
}

.cufon-settings-row .cufon-font-family label, 
.cufon-settings-row .cufon-font-family select {
  display: inline;
}
